:root{
  --repeatedcolor: lightblue;
  --anothercolor:#2a607c;
  --fontfamily: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--fontfamily);
  line-height: 1.5;
  background-color: white;
}

h1,
h4,
h5,
h6 {
  margin: 5px;
  
}
h2{
  margin: 20px 15px 20px 30px;
  text-align: center;
  justify-content: center;
}
h3{
  color:black;
}
p {
  margin: 0;
}

/*---------------------------*/

.header {
  padding: 20px;
  font-family: var(--fontfamily);
  background-color: var(--repeatedcolor);
  height: 180px;
}

.header h1 {
  display: inline-block;
  font-size: 30px;
  color: white;
  background-color: var(--anothercolor);
  margin: 10px 10px 10px 10px;
  padding: 10px;
}


.header section {
  padding-top: 15px;
  margin-right: 20px;
  float:right ;
  font-family: var(--fontfamily);
  font-size: 20px;
  
  
}
nav a:hover {
  background-color: #e2dfdf;
}

nav a {
  color: #13293d;
  padding: 14px 20px;
  text-decoration: underline;
  text-align: center;
}

/* style new <nav> attribute */
.header section nav ul,li {
display: inline-block;
list-style-type: none;
margin-left: 25px;
}
.header img{
   
   height: 50px;
   width: 100px;
   margin: 10px 10px 10px 10px;
}

p {
  font-size: 16px;
  margin: 20px;
  text-align: left;
}

/*******************************/

/* COLUMN STYLES */
.hero-banner {
  display: flex;
  flex-direction: column;
  background-color: var(--repeatedcolor);
  height: 150px;
  padding: 5px;
  /*margin: 5px;*/
}
.top {
  height: 140%;
  display: flex; 
  justify-content: flex-end;
  background-image: url("../images/02-hero-bg.jpg");
}
.block {
  width: 33.3%;
  max-width: 220px;
  height: 40px;
  border: 5px;
  background-color: var(--anothercolor);
  margin: 15px;
  float: left;
  margin-left: 430px;
  margin-top: 80px;

}
.block h2{
  margin: 5px;
  color: white;
  
}

.abme{
    width:80.2%;
  }
.page-section{
  width:100%;
  display: inline-flex;
  margin: 1.5%;
}
.page-section h2{
  margin: 20px 15px 20px 30px;
  text-align: right;
}
.me p { 
  font-size: 100%; 
  padding-right: 15em; 
  line-height: 24px;
  margin: 20px;
 }
 img{
  height: 200px;
  width: 50px;
  margin: auto;
 }

 span{
  border: 1px solid var(--anothercolor);
  margin-top: 5px;
 }
 /*--------GRID------------*/
.photo img{
  height: 800px;
  background-repeat: repeat;
}

 #work{
  min-height: 500px;
  height: 800px;
  width: 100%;
  margin: 0 5%;
  display: grid;
  grid-template-rows: 200px 200px 200px 200px ;
  grid-template-columns:  50% 50%;
  grid-template-areas: 
  "surfReport surfReport"
  "surfReport surfReport"
  "ledWall calculator"
  "pastelPuzzels runBuddy";
 }
 #surfReport{
  grid-area: surfReport;
  background-image: url("../images/02-portfolio-4.jpg");
 }
 #ledWall{
  grid-area: ledWall;
  background-image: url("../images/02-portfolio-1.jpg");
 }
 #calculator{
  grid-area: calculator;
 background-image: url("../images/02-portfolio-2.jpg");
 }
#pastelPuzzels{
  grid-area: pastelPuzzels;
  background-image: url("../images/02-portfolio-3.jpg");
}
#runBuddy{
  grid-area: runBuddy;
  background-image: url("../images/02-run-buddy.jpg");
}
.workGridArea{
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  display: flex;
  align-content: end;
  margin: 5px;
  cursor: pointer;
}
#headline{
  background-color: var(--repeatedcolor);
  top: 100px;
  padding: 10px;
  max-height: 350px;
  z-index: 100;
}


.contact h2 {
  display: inline-block;
  font-size: 30px;
  color: black;
  width: 100px;
  
 
}
/*.contact nav ul,li {*/
.nav ul, li{
  display: inline-block;
  list-style-type: none;
  margin-left: 25px;
  text-decoration: underline;
  
  
  }
  .contact nav {
    padding-top: 15px;
    margin-right: 20px;
    float:right ;
    font-family: var(--fontfamily);
    font-size: 25px;
    text-align: center;
    
  }
  .contact  nav ul, li a {
    color: black;
    
    
  }

  @media only screen and (max-width: 768px) {
    
    body,
    main,
    nav {
      flex-direction: column;
    }
  }
  @media only screen and (max-width: 992px) {
    section.hero-banner {
      display: none;
    }
  }
  @media only screen and (max-width: 768px) {
    section.headline {
      display: none;
    }
  }